<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title layout:title-pattern="$CONTENT_TITLE - Mottu">Página</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>

<header th:replace="~{fragments/header :: header}"></header>

<main class="container">
    <section layout:fragment="content">
        <p>Conteúdo da página principal aqui...</p>
    </section>
</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>